<ion-view view-title="Test" hide-nav-bar="true" class="splashBg">
  <ion-content>
    <ion-list>

      <!-- -->
      <!--<div class="row">-->
      <!--<button class="col button button-block button-positive" ng-click="click1();">Click 1</button>-->
      <!--</div>-->

      <!--<div class="row">-->
      <!--<button class="col button button-block button-positive" ng-click="click2();">Click 2</button>-->
      <!--</div>-->

      <!--<div class="row">-->
      <!--<button class="col button button-block button-positive" ng-click="click3();">Click 3</button>-->
      <!--</div>-->

      <div class="row">
        <button class="col button button-block button-positive" ng-click="click4();">Click 4</button>
      </div>


      <div class="row">
      <button class="col button button-block button-positive" ng-click="click5();">Click 5</button>
      </div>


      <div class="row">
        <div class="col" ng-bind="msg1"></div>
      </div>

      <div id="map" style="width: 100%; height: 300px;"></div>

      <p ng-bind="data | json"></p>

    </ion-list>
  </ion-content>
</ion-view>
